nav.navbar {
	margin-bottom: 0px;
	border-bottom: 0.75px solid #ECF0F3;
}
.aside {
	display: block;
	background-color: #F9F9F9;
	border-right: 1px solid #DEDEDE;
}
.title.user.name {
	margin-top: 30px;
	margin-bottom: 0px;
	color: black;
	font-size: 25px;
}
.main .title.cart {
	font-weight: 900;
	margin-top: 35px;
	font-size: 20px;
}
.companies {
	display: block;
}
.card.company {
	padding: 10px;
}
.aside .main {
	padding: 40px;
	color: #6F7B7E;
}
.aside .title {
	color: #6F7B7E;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
.aside .main .item {
	display: block;
	padding: 10px 0;
	color: black;
}
.aside .main .item .user.balance {
	font-weight: 900;
}
.aside .main .item.active {
	background-color: #F1F1F1;
	margin: 0 -50px;
	padding-left: 50px;
}
.aside .main .icon {
	font-size: 19px;
	padding-right: 30px;
	color: #A0A0A0;
}
.aside .main .name {
	font-size: 15px;
	color: #5D5D5D;
	font-weight: 500;
}