.columns {
	width: 100%;
	height: 100%;
	margin-left: 0;
}
.menu-label {
	color: #8F99A3;
	letter-spacing: 1.3;
	font-weight: 700;
}
.menu-list a {
	color: #0F1D38;
	font-size: 14px;
	font-weight: 700;
}
.menu-list a:hover {
	background-color: transparent;
	color: #276cda;
}
.menu-list a.is-active {
	background-color: transparent;
	color: #276cda;
	font-weight: 700;
}
.doc-title {
	padding: 10px;
}
.subtitle, .doc-link {
	font-weight: 600;
}