html,
body {
	background: #eff3f4;
	font-family: 'Open Sans', serif;
}
.navbar-burger {
	color: white;
}
.hero-head,
.hero-body {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(188, 99, 239) 0%, rgb(158, 103, 241) 100%);
}
.dashboard-button {
	font-weight: bold;
}
.bar {
	height: 1px;
	background-color: lightgray;
}